#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	/* text-align: center; */
	width: 100%;
  display: flex;
}
h1, h2 {
	font-size: 35px;
	font-weight: 600;
	margin: 5px 0 14px;
}
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #fff;
  padding: 20px;
  width: 400px;
  border-radius: 8px;
  outline: none;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.inputwrp{display: grid;
  grid-template-columns: 48% 48%;
  gap: 10px; margin-top: 10px;}
  .inputwrp input, .inputwrp select {
	border: 1px solid #b7b5b5;
	border-radius: 5px;
	padding: 5px 8px;
}
.btnwrp {
	margin-top: 10px;
	display: grid;
	grid-template-columns: auto auto;
	gap: 14px;
}

.txtclass {
  font-size: 25px;
}
.txtclass .subtxt {
  color: #92eb48;
  font-weight: 600;
  font-size: 38px;
}
.frmbtn {
	color: #fff;
	font-weight: 600;
	text-shadow: 0 0 3px #00000080;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
